.App {
    text-align: center;
}

.App-header {
    background-color: #222;
    height: 150px;
    padding: 20px;
    color: white;
}

.App-intro {
    font-size: large;
}

.search-input {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 20%;
}

.pagination-box {
    display: block;
    margin: 0 auto;
}

th > a {
    float: right !important;
}

.filter-well {
    float: left;
    width: 20%;
    text-align: left;
    display: inline-block;
    padding: 20px
}

.data-list {
    float: right;
    width: 80%;
    display: inline-block;
    display: inline-block;
    padding: 20px;
}

.connection-alert {
    width: 800px;
    height: 300px;
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.product-page {
}

.reviews-box {
    float: left;
    width: 25%;
}